<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid nav_bg">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand logo" routerLink='/index'routerLinkActive="active" >微校园</a>
</div>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">

<li><a routerLink='/index' routerLinkActive="active" >首页</a></li>
<li><a routerLink="/daily" routerLinkActive="active">日常</a>
  <li><a routerLink="/answer" routerLinkActive="active">解疑惑</a>

</ul>
  <!--===================表单==================================-->
<!--<form class="navbar-form navbar-left" #searchForm="ngForm">-->
    <!--<div class="form-group">-->
    <!--<input type="text" class="form-control" name="value"  [(ngModel)]="_value" placeholder="搜索你感兴趣的问题/人">-->
    <!--</div>-->
     <!--<div type="button"class="button_ask"-->
          <!--[routerLink]="['/search',searchForm.form.value]" routerLinkActive="active">vvschool</div>-->
<!--</form>-->

  <form class="navbar-form navbar-left" >
    <div class="form-group">
      <input type="text" class="form-control" name="value"  [(ngModel)]="_value" placeholder="搜索你感兴趣的问题/人">
    </div>
    <div type="button"class="button_ask"
         [routerLink]="['/search',_value]" routerLinkActive="active">vvschool</div>
  </form>

<ul class="nav navbar-nav navbar-right">
<li><a href="#" class="icon iconfont">&#xe69d;</a></li>
<li><a href="#" class="icon iconfont">&#xe640;</a></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true"
       aria-expanded="false">{{user_name}}<span class="caret"></span></a>
    <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuDivider">
      <li (click)="toPersonal()" ><a >个人中心</a> </li>
      <li role="separator" class="divider"></li>
      <li (click)="toSet()"><a >设置</a></li>
      <li role="separator" class="divider"></li>
      <li (click)="toRegist()"><a>退出</a></li>
    </ul>
  </li>
</ul>
</div>
</div>
</nav>


