<ul class="list-group ">
  <ul class="list-group ">
    <li class="list-group-item" style="height:102px">
      <div>
        <img src="../../assets/胡江.jpg" alt="" class="fans-icon">
        <div class="fans-info">
          <span class="fan-username">用户名</span>
          <span  class="fans-prof">,专业</span>
          <div class="fans-userinfo">
            用户描述为呵呵尽快结婚就
          </div>
        </div>
        <button type="button" class="btn-det btn-att">
          关注Ta
        </button>

      </div>
    </li>
    <li class="list-group-item" style="height:102px">
      <div>
        <img src="../../assets/胡江.jpg" alt="" class="fans-icon">
        <div class="fans-info">
          <span class="fan-username">用户名</span>
          <span  class="fans-prof">,专业</span>
          <div class="fans-userinfo">
            用户描述为呵呵尽快结婚就
          </div>
        </div>
        <button type="button" class="btn-det btn-att" >
          关注Ta
        </button>

      </div>
    </li>
  </ul>
</ul>
