.hot_container{
  height: auto;
  width: 100%;
  margin-top: 20px;
}
.hot_wrapper{
  height: 79px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px lightgrey;
  position: relative;
}
.hot_wrapper div a:last-child{
  position: absolute;
  right: 5px;
  top: 10px;
  color: #7a7a7a;
}
.close{
  font-size: 15px;
}
.close:hover{
  color: red !important;
}
a{
  text-decoration: none;
}
