/* You can add global styles to this file, and also import other style files */
body{
  background-color:#F3F3F3;
}
a{
  text-decoration: none;
}

.card_main .ql-editor {
  min-height: 0!important;
}
._card_main .ql-editor {
  min-height: 0!important;
}
.con .ql-editor {
  min-height: 0!important;
}

