
  <ul class="list-group ">
    <li class="list-group-item" style="height: 70px" *ngFor="let _showfoll of showfoll">
      <div>
          <img src="http://localhost:3000/{{_showfoll.icon}}" alt="" style="width: 50px;height: 50px;float: left">
          <div style="float: left;margin-left: 20px;">
            <span style="font-size:1.3em;color: #474747">{{_showfoll.name}}</span>
            <span  style="font-size:1em;color: #636363;margin-left: 10px">,{{_showfoll.profession}}</span>
            <div style="font-size:0.8em;color: #8b8b8b">
              {{_showfoll.describe}}
            </div>
          </div>
        <button type="button" class="btn-det" style="float: right"  data-toggle="modal" data-target="#myModal">
          取消关注
        </button>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">取消关注</h4>
              </div>
              <div class="modal-footer">
                <button type="button"  class="btn btn-default" data-dismiss="modal"  (click)="del(_showfoll.id)">确认取消关注</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </li>

  </ul>





