

  <ul class="list-group ">
    <li class="list-group-item" style="height: 70px">
      <div>
          <img src="../../assets/胡江.jpg" alt="" style="width: 50px;height: 50px;float: left">
          <div style="float: left;margin-left: 20px;">
            <span style="font-size:1.3em;color: #474747">用户名</span>
            <span  style="font-size:1em;color: #636363;margin-left: 10px">,专业</span>
            <div style="font-size:0.8em;color: #8b8b8b">
              用户描述为呵呵尽快结婚就
            </div>
          </div>
        <button type="button" class="btn-det" style="float: right">
          已关注
        </button>

      </div>
    </li>
    <li class="list-group-item" style="height: 70px">
      <div>
        <img src="../../assets/胡江.jpg" alt="" style="width: 50px;height: 50px;float: left">
        <div style="float: left;margin-left: 20px;">
          <span style="font-size:1.3em;color: #474747">用户名</span>
          <span  style="font-size:1em;color: #636363;margin-left: 10px">,专业</span>
          <div style="font-size:0.8em;color: #8b8b8b">
            用户描述为呵呵尽快结婚就
          </div>
        </div>
        <button type="button" class="btn-det" style="float: right">
          已关注
        </button>

      </div>
    </li>
  </ul>
