# 
# JetBrains Project files
.idea

# npm
node_modules/
package-locj.json
# website.config
/server/website.config.js

!/server/public/uploads/README.md
/server/public/uploads/*

/*
!/.gitignore
!*.md
!/client/
!/server/
!/doc/
!/database



