<div class="mail_set"><span>私信设置</span></div>
<div class="mail_set_main">
  <span>有谁给我发了私信</span>
  <form action="">
    <div class="whoCanSend">
      <input type="radio" name="whoCanSend" id="everyoneCanSend">
      <label for="everyoneCanSend">允许所有人给我私信</label>
      <input type="radio" name="whoCanSend" id="iFollowed">
      <label for="iFollowed">只允许我关注的人给我发私信</label>
    </div>
    <div class="stranger">
      <input type="checkbox" name="stranger" id="stranger">
      <label for="stranger">开启陌生人私信箱</label>
    </div>
    <div class="prompt">
      <input type="checkbox" name="promt" id="prompt">
      <label for="prompt">私信时邮件提醒我</label>
    </div>
  </form>
</div>
<div class="preserve">保存</div>
