
.main_contain{
  background-color: white;
  margin-top: 25px;
  border: solid 1px white;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,.1)
}
.top{
  margin-top: 10px;
  font-size: 1.2em;
}
.container-fluid{
  margin-top: 45px;
}

.user_icon{
  border-radius: 5px;
  width: 40px;
  height: 40px;
}





/*!*right==============================================*!*/
.span_left{
  padding: 10px;
  font-size: 20px;
  line-height: 75px;
}
.fa-camera-retro{
  margin-left: 40px;
  margin-right: 5px;
}
.span_left:hover{
  color: #51d2b7;
  cursor: pointer;
}
.main_right{
  /*position:absolute;*/
  /*right: 50px;*/
  /*top:70px;*/
  background-color: white;
  position:fixed; right:50px; top:73px
}
/*================================================================*/

.other_user{
  position: relative;
}
.user_profile{
  width: 300px;
  height: 200px;
  position: absolute;
  display: none;
  padding:10px;
  background-color: white;
  box-shadow: 0 0 8px rgba(206, 206, 206, 0.42);
  top: 40px;
}
.top_part{
  width: 100%;
  height:76px;
}
.user_profile_icon{
  width: 76px;
  height:76px;
  float: left;

}
.top_part div img{
  width: 100%;
  height:100%;
}
.user_profile_top_right{
  margin-left:76px;
  padding-left: 10px;
  padding-top: 10px;
}
.user_profile_top_right span{
  display: block;
}
.middle_part{
  width: 100%;
  height: 66px;
}
.middle_part>div{
  float: left;
  width: 30%;
  margin: 1.5%;
}
.middle_part>div>p{
  height: auto;
  width: auto;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2em;
}
.bottom_part{
  width: 100%;
  height: 46px;
}
.bottom_part>div{
  height: 26px;
  width: 30%;
  float: left;
  margin: 10px 10%;
  text-align: center;
  line-height: 26px;
  border-radius: 4px;
  border: solid 1px darkgrey;
}
.bottom_part>div:first-child{
  background-color: #51d2b7;
  color: white;
}

.totaper:hover{
  color:#51d2b7 ;
  cursor: pointer;
}


/*修改问学长样式*/
.prof-name{
  width: 560px;
}
.pro-comment{
  padding: 6px 12px;
  width:560px;
  height:50px;
  border: 1px solid #ccc;
  border-radius:4px;
  font-size: 14px;
}
.pro-self{
  padding: 6px 12px;
  width:560px;
  height:200px;
  border: 1px solid #ccc;
  border-radius:4px;
  font-size: 14px;
}
