<div class="contain">
  <div>
    <app-nav [_user]="user_name"></app-nav>
  </div>

  <div class="container-fluid" >
    <div class="col-sm-7 col-sm-offset-1  main_contain" *ngFor="let _qus of qus">
      <div>
        <p class="top">
          <img src="http://localhost:3000/{{_qus.answerer.icon}}" appHover alt="用户头像"
               [routerLink]="['./tapersonal',_qus.answerer.id]" routerLinkActive="active"    class="user_icon">
          <span style="margin-left: 10px;font-size: 1.2em" class="totaper" [routerLink]="['./tapersonal',_qus.answerer.id]" routerLinkActive="active">
            {{_qus.answerer.name}}</span>
          <span style="margin-left: 5px;color: #797979"> {{_qus.answerer.describe}}</span>
        </p>

        <div class="user_profile" apphoverProfile>
          <div class="top_part">
            <div class="user_profile_icon"><img src="http://localhost:3000/{{_qus.answerer.icon}}" alt="用户头像"></div>
            <div class="user_profile_top_right">
              <span>{{_qus.answerer.name}}</span>
              <span>{{_qus.answerer.describe}}</span>
            </div>
          </div>
          <div class="middle_part">
            <div>
              <p>回答</p>
              <p>88</p>
            </div>
            <div>
              <p>文章</p>
              <p>88</p>
            </div>
            <div>
              <p>关注着</p>
              <p>88</p>
            </div>
          </div>
          <div class="bottom_part">
            <div><i class="fa fa-plus" aria-hidden="true"></i> 关注他</div>
            <div><i class="fa fa-comments-o" aria-hidden="true"></i>发私信</div>
          </div>
        </div>
      </div>
      <app-comment [_qus]="_qus"></app-comment>
    </div>

  <div class="col-sm-3  main_right">
      <span class="span_left" data-toggle="modal" data-target="#myModal">
        <i class="fa fa-camera-retro fa-1x "></i>问学长</span>
    <span class="span_left" (click)="toAnswer()">
        <i class="fa fa-refresh fa-spin fa-1x fa-fw"></i>解疑惑</span>
  </div>

</div>
<!--==========================================================================================================-->
    <!--问学长-->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
          <h2 class="modal-title" id="myModalLabel" style="text-align: center">写下你的问题</h2>
          <span style="display: block;text-align: center">描述精确的问题更易得到解答</span>
        </div>
        <form class="form-horizontal" >
          <div class="modal-body">

            <textarea rows="5" cols="7" class="pro-comment"  placeholder="请写下问题标题" required
                      name="title" [(ngModel)]="_title" ></textarea>
            <p>请选择专业：</p>

            <select class="form-control col-sm-6 prof-name" name="profession" [(ngModel)]="_profession" >
              <option value="1" selected="selected">管理学</option>
              <option value="2">计算机</option>
              <option value="3">电子工程</option>
              <option value="4">土木工程</option>
              <option value="5">生物学</option>
              <option value="6">原子能</option>
              <option value="7">建筑</option>
              <option value="8">考古学</option>
              <option value="9">环境工程</option>
              <option value="10">食品科学</option>
              <option value="11">英语</option>
              <option value="13">化学工程</option>
              <option value="14">金融学</option>
              <option value="15">数学系</option>
              <option value="16">机械工程</option>
              <option value="17">医学</option>
              <option value="18">地质学</option>
            </select>

            <p style="margin-top: 5px">问题描述（可选）：</p>

            <textarea rows="5" cols="7" class="pro-self"  placeholder="请写下问题内容" required
                      name="link" [(ngModel)]="_link"></textarea>
          </div>

          <div class="modal-footer">
            <button type="button" (click)="toQus( _title,_link,_profession)" class="btn btn-success" data-dismiss="modal" style="text-align: center;background-color:#51d2b7;width: 150px; ">
              提交</button>
          </div>

        </form>
      </div>
    </div>
  </div>

</div>
