<div class="say_component">
  <span class="saywhat">有什么新鲜事想告诉大家?</span>
  <form action="">
    <textarea name="say" id="say" cols="102" rows="8"></textarea>
  </form>
  <ul>
    <li class="iconfont"><i class="fa fa-picture-o" aria-hidden="true"></i><span class="icon_text">图片</span></li>
    <li class="iconfont"><i class="fa fa-microphone" aria-hidden="true"></i> <span class="icon_text">音频</span></li>
    <li class="iconfont"><i class="fa fa-video-camera" aria-hidden="true"></i><span class="icon_text">视频</span></li>
    <li class="send"><div class="send_div">发布</div></li>
  </ul>
</div>
