
.say_component{
  background-color: white;
  height: auto;
  width: 100%;
  border-radius: 6px;
  position: relative;
}
.send_div{
  border: solid 1px grey;
  border-radius: 4px;
  height:30px;
  width: 56px;
  text-align: center;
  line-height: 30px;
  background-color: #51D2B7;
  color: white;
  position: absolute;
  right:30px;
  bottom: 10px;
}
.send_div:hover{
  cursor: pointer;
}
.addMore{
  width:100%;
  height: 66px;
  background-color: white;
  margin-top: 20px;
  text-align: center;
  line-height: 66px;
  font-size: 1.5em;
}
.addMore:hover{
  cursor: pointer;
  color: red;
}
.noMore{
  width:100%;
  height: 66px;
  background-color: white;
  margin-top: 20px;
  text-align: center;
  line-height: 66px;
  font-size: 1.5em;
}



