
<div class="say_component">
  <quill-editor [(ngModel)]="EDayContent" [options]="EDayOptions" ></quill-editor>
  <image-upload [url]="imgUrl"
                [max]="9"
                [maxFileSize]="1048576"
                [buttonCaption]="'选择图片'"
                [dropBoxMessage]="'拖拽图片到这...'"
                [fileTooLargeMessage]="'图像太大，未上传!'"
                (onFileUploadFinish)="imageFinishedUploading($event)"
                (onRemove)="imageRemoved($event)"
                (isPending)="uploadStateChange($event)"></image-upload>
  <div class="send_div"  (click)="send()">发布</div>
</div>

<ng-container *ngFor="let item of _data">
  <app-say-card [_onesay]="item"></app-say-card>
</ng-container>
<div class="addMore" *ngIf="next!=-1" (click)="addMore()">加载更多</div>
<div class="noMore" *ngIf="next==-1">没有更多了</div>
