<div class="contain">
  <app-nav></app-nav>
  <div class="left col-sm-3  ">

    <div class="left-top">
      <img src="../../assets/大图胡江.jpg" alt="" style="height:100px;width:100px;border-radius:10px;float: left">
      <span class="span-name">胡江大大</span>
      <span class="span-profession">    专业 <span style="color:#212121">计算机</span>  </span>
    </div>


    <ul class="list-group">

      <a routerLink="./say-card" routerLinkActive="active">
      <li class="list-group-item ">
        <i class="fa fa-shower" aria-hidden="true"></i>
        <span class="badge">14</span>
        我的日常
      </li>
      </a>

      <li class="list-group-item">
        <span class="badge">20</span>
        <i class="fa fa-quora" aria-hidden="true"></i>
        我的提问
      </li>
      <a routerLink="./comment" routerLinkActive="active">
      <li class="list-group-item">
        <i class="fa fa-adjust" aria-hidden="true"></i>
        <span class="badge">20</span>
        我的回答
      </li>
      </a>
      <li class="list-group-item">
        <i class="fa fa-flag" aria-hidden="true"></i>
        <span class="badge">20</span>
        我的社区
      </li>
      <li class="list-group-item">
        <i class="fa fa-fire" aria-hidden="true"></i>
        <span class="badge">20</span>
        我的表白
      </li>
      <li class="list-group-item">
        <i class="fa fa-fire" aria-hidden="true"></i>
        <span class="badge">20</span>
        我的收藏
      </li>
      <li class="list-group-item">
        <i class="fa fa-asterisk" aria-hidden="true"></i>
        <span class="badge">||</span>
        个人设置
      </li>
      <li class="list-group-item " style="background-color: #51d2b7">
      </li>
    </ul>
  </div>
   <div class="col-sm-6">
     <router-outlet>
     </router-outlet>
   </div>

  <div class="col-sm-3">
  <ul class="list-group">
      <li class="list-group-item ">
        <span class="badge">14</span>
        我的关注
      </li>
    <li class="list-group-item " >
      <span class="badge">14</span>
      我的粉丝
    </li>
  </ul>
 </div>

</div>
