
<div class="col-sm-offset-1 col-sm-10">
  <div class="col-sm-offset-1 col-sm-5" >
    <h1 style="color:#55803b">vvschool | 微校园login</h1>
  </div>
  <div class="col-sm-offset-2 col-sm-4" style="color:green">
    <h3>我已注册，现在就  <button type="button" (click)="toLogin()" class="btn btn-default" style="color:green">登入</button></h3>
  </div>
</div>

<div class="col-sm-offset-1 col-sm-10">
    <hr >
  </div>

<!--========================================================================-->

<div class="col-sm-6 col-sm-offset-3" style="margin-top: 30px">

<form class="form-horizontal" #registForm="ngForm">
  <div class="form-group">
    <label for="telephone" class="col-sm-2 control-label">手机号</label>
      <div class="col-sm-10">
      <input type="text" #tel="ngModel" class="form-control" id="telephone" name="user_tel" [(ngModel)]="_telephone"
             pattern="^1(3|4|5|7|8)\d{9}$" placeholder="请输入手机号" required>
    </div>
    <div class="col-sm-offset-2 col-sm-10 " *ngIf="tel.invalid && (tel.dirty||tel.touched)">
      <div *ngIf="tel.errors.required" class="err">
        号码不能为空
      </div>
      <div *ngIf="tel.errors.pattern" class="err">
        号码格式错误
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-sm-2 control-label">密码</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" #pas="ngModel" id="password" minlength="6" [(ngModel)]="_password"
             name="user_pwd" placeholder="请输入密码" required>
    </div>
    <div class="col-sm-offset-2 col-sm-10 " *ngIf="pas.invalid && (pas.dirty||pas.touched)">
      <div *ngIf="pas.errors.required" class="err">
        密码不能为空
      </div>
      <div *ngIf="pas.errors.minlength" class="err">
        密码至少六位
      </div>
    </div>
  </div>

  <div class="form-group">
  <label for="Redpassword" class="col-sm-2 control-label">确认密码</label>
  <div class="col-sm-10">
    <input type="password" class="form-control" id="Redpassword"  placeholder="请确认密码">
  </div>
  </div>

  <div class="form-group">
    <label for="school" class="col-sm-2 control-label">学校/专业</label>
    <div class="col-sm-5" id="school">
      <select class="form-control col-sm-6" name="school_id"  [(ngModel)]="_school" >
        <option value="10">东华理工大学</option>
        <option value="11">南昌航空大学</option>
      <!--  <option>清华大学</option>
        <option>北京大学</option>
        <option>浙江大学</option>-->
      </select>
    </div>

      <div class="col-sm-5" id="">
        <select class="form-control col-sm-6" name="profession_id" [(ngModel)]="_profession">
          <option value="1">管理系</option>
          <option value="2">计算机</option>
        <!--  <option>物流</option>
          <option>英语</option>
          <option>文学</option>-->
        </select>
      </div>
  </div>

  <!--<div class="form-group">-->
    <!--<label  class="col-sm-2 control-label"></label>-->
    <!--<div class="col-sm-5" >-->
      <!--<input type="text" class="form-control"   placeholder="输入验证码">-->
    <!--</div>-->
    <!--<div class="col-sm-5">-->
      <!--<input type="button" class="form-control"   value="发送验证码">-->
    <!--</div>-->
  <!--</div>-->


  <!--<div class="form-group">-->
    <!--<div class="col-sm-offset-2 col-sm-10">-->
      <!--<div class="checkbox">-->
        <!--<label>-->
          <!--<input type="checkbox">-->
          <!--阅读并接受《微校园用户协议》及《微校园隐私权保护声明》-->
        <!--</label>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="button" (click)="toIndex(registForm)"  [disabled]="registForm.form.invalid"
              class="btn btn-default">注册</button>
    </div>
  </div>
  <div *ngIf="regist_res" class="err">
    {{regist_res}}
  </div>
</form>
</div>





