 <div class="setcss">
    <div class="row">
      <app-nav></app-nav>
    </div>
    <div class="row main_set">
      <nav class="nav">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"  appSetNavClick>
            <a routerLink="./basic-info" routerLinkActive="active">基本资料</a>
          </li>
          <li role="presentation" appSetNavClick>
            <a routerLink="./id-pwd" routerLinkActive="active">账号和密码</a>
          </li>
          <li role="presentation" appSetNavClick>
            <a routerLink="./mail" routerLinkActive="active">消息和邮件</a>
          </li>
          <li role="presentation" appSetNavClick>
            <a routerLink="./shield" routerLinkActive="active">屏蔽</a>
          </li>
        </ul>
      </nav>
      <router-outlet>

      </router-outlet>
    </div>
   <div class="fullwhite">

   </div>
</div>

