.navcss{

}
.setcss{
  background-color: white;
}
.main_set{
  width: 1050px;
  height: 460px;
  margin-top: 36px;
  margin-left: 150px;
  margin-right: 150px;
  border-bottom: solid 1px lightgrey;
  position: relative;
  margin-top: 100px;
}
.fullwhite{
  width:100%;
  height: 100px;
}
