<ul class="list-group "  *ngIf="isFans">
  <li class="list-group-item" style="height: 70px"  *ngFor="let _showfans of showfans">
    <div>
      <img src="http://localhost:3000/{{_showfans.icon}}" alt="" style="width: 50px;height: 50px;float: left">
      <div style="float: left;margin-left: 20px;">
        <span style="font-size:1.3em;color: #474747">{{_showfans.name}}</span>
        <span  style="font-size:1em;color: #636363;margin-left: 10px">,{{_showfans.profession}}</span>
        <div style="font-size:0.8em;color: #8b8b8b">
          {{_showfans.describe}}
        </div>
      </div>
    </div>
  </li>

</ul>

<div *ngIf="noFans">
  <p class="noMore">
    ...........没有被任何人关注............
  </p>
</div>
