/*.container{*/
  /*background-color: #F3F3F3;*/
/*}*/

.err{
  color: #a94442;
  margin-top: 10px;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}

