<img class="bg_img" src="../../assets/images/dailyBg_img.jpg"/>
<div class="row bgcolor_grey">
  <div class="col-md-12 col-lg-12">
    <app-nav></app-nav>
  </div>
  <div class="main">
      <app-say></app-say>
  </div>
  <div class="right_part">
    <div class="user_profile">
      <div class="bg_pic"><img src="../../assets/images/bg_pic.jpg"/></div>
      <div class="user_icon" (click)="toPersonal()"><img src="http://localhost:3000/{{info?.icon}}"/></div>
      <p class="userId"><span>{{user_name}}</span></p>
      <p class="self_introduct">{{info?.describe}}<i class="fa fa-pencil" aria-hidden="true"></i></p>
      <div class="three_data_count">
        <div>
          <ul>
          <li (click)="toPersonalFollowers()">
            {{info?.fans}}
          </li>
          <li>关注</li>
          </ul>
        </div>
        <div>
          <ul>
            <li (click)="toPersonalFans()">
            {{info?.follower}}
            </li>
            <li>粉丝</li>
          </ul>
        </div>
        <div>
          <ul>
          <li (click)="toPersonalDaily()">{{_myDailyCount}}</li>
          <li>日常</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="probable_freinds">
      <div class="title">
        好友推荐
      </div>
      <div id="probable_freinds_content">
          <div>
            <div class="how_could_you_know">
              <p>同为篮球社社员</p>
            </div>
            <div class="single_friend">
              <div class="friend_icon">
                <a href="#"><img src="../../assets/images/user_icon003.jpg"/></a>
              </div>
              <div class="friend_text">
                <p class="friendId">阑夕</p>
                <p class="friend_profile">爱唱歌、爱运动</p>
              </div>
              <div class="follow_click">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <span>关注</span>
              </div>
            </div>
          </div>
          <div>
            <div class="how_could_you_know">
              <p>同专业学生</p>
            </div>
            <div class="single_friend">
              <div class="friend_icon">
                <a href="#"><img src="../../assets/images/user_icon004.jpg"/></a>
              </div>
              <div class="friend_text">
                <p class="friendId">nG家的猫 </p>
                <p class="friend_profile">八戒你又在看简介</p>
              </div>
              <div class="follow_click">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <span>关注</span>
              </div>
            </div>
          </div>
          <div>
            <div class="how_could_you_know">
              <p>参加过相同活动</p>
            </div>
            <div class="single_friend">
              <div class="friend_icon">
                <a href="#"><img src="../../assets/images/user_icon005.jpg"/></a>
              </div>
              <div class="friend_text">
                <p class="friendId">tertio</p>
                <p class="friend_profile">一起来玩呀</p>
              </div>
              <div class="follow_click">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <span>关注</span>
              </div>
            </div>
          </div>
          <div>
            <div class="how_could_you_know">
              <p>你回答过他的问题</p>
            </div>
            <div class="single_friend">
              <div class="friend_icon">
                <a href="#"><img src="../../assets/images/user_icon006.jpg"/></a>
              </div>
              <div class="friend_text">
                <p class="friendId">塔罗牌占卜师..</p>
                <p class="friend_profile">我懂法术哦</p>
              </div>
              <div class="follow_click">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <span>关注</span>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<app-bottom></app-bottom>


