.comment{
  background-color: white;
  margin-top: 10px;
}

a{
  text-decoration: none;
  color: #2f2f2f;
}

a:hover{
  color: #51d2b7;
}
.read{
  color: #7a7a7a;
}
.read:hover{
  cursor: pointer;
  background-color:#51d2b7 ;
}

.top{
  margin-top: 10px;
}
.til{
  /*background-color: red;*/
  margin-left: 5px;
  font-size: 1.5em;
}
.btn_span{
  margin-left: 10px;
  font-size: 15px;
}
.btm{
  margin-top: 20px;
  /*margin-bottom: 20px;*/
  clear: both;
  margin-left: 10px;
  color: #757575;
}

.btn_com:hover{
  color: #51d2b7;
  cursor: pointer;
}


.con{
  line-height: 1.67;
  font-size:1.1em;
  margin-left: 5px;
}

.main_right{
  margin-left: 50px;
}

i:hover{
  color: #51d2b7;
}



/*评论样式*/
.no-comm{
  box-shadow: 0 1px 3px 0 rgba(0,33,77,.05);
  background: #fff;
  margin-top: 12px;
  overflow: visible;
  border-radius: 4px;
  width: 714px;
  border: #e7eaf2 1px solid;
  margin-bottom: 10px;
  margin-left: 10px;
}
.no-comm-top{
  align-items: center;
  height: 50px;
  padding: 0 20px;
  border:1px solid #fff;
  border-bottom-color:#e7eaf2 ;
  box-shadow: 0 1px 3px 0 rgba(0,33,77,.05);
}
.all-comm{
  width: 714px;
  height: 109px;
}
.new-comm{
  width: 680px;
  height: 109px;
  margin-left: 17px;
  border: 1px solid white;
  border-bottom-color:#e7eaf1 ;
}
.comm-img{
  width: 26px;
  height: 26px;
  margin-left: 15px;
  margin-top: 12px;
}
.comm-username{
  font-size: 15px;
  margin-left: 6px;
  top: 8px;
  position: relative;
}
.comm-content{
  margin-top: 20px;
  margin-left: 15px;
  font-weight: 200;
}
.comm-time{
  margin-left: 350px;
  color: #51d2b7;
  font-weight: 200;
  top: 8px;
  position: relative;
}
