.single_card{
  width:100%;
  height: 296px;
  position: relative;
  background-color: white;
  border-radius: 4px;
}
.user_icon img{
  width: 100%;
  height: 100%;
border: solid 1px rgba(255, 255, 255, 0);
  border-radius: 33px;
}
.user_icon{
  width: 66px;
  height: 66px;
  float: left;
}
.othersId{
  height:20px;
  margin-left: 66px;
  position: relative;
  top: 20px;
}
.when_where{
  height:20px;
  margin-left: 66px;
  position: relative;
  top: 20px;
}
.daily_content_text{
  width: 100%;
  height: auto;
  position: relative;
  top: 25px;
}
.img_div{
  height:166px;
  width: 166px;
  position: relative;
  top: 20px;
}
.img_div img{
  height:100%;
  width: 100%;
}
.interact_part{
  height: 35px;
  width: 100%;
  position: relative;
  top: 25px;
}
.interact{
  float: left;
  width: 30%;
  text-align: center;
  margin: 10px;
}
.interact:hover{
  cursor: pointer;
  color:#8b8b8b;
}
.middle{
  border-left: solid 1px darkgrey;
  border-right: solid 1px darkgrey;
}
.publish_comments{
  width: 100%;
  height: 66px;
  padding-top: 10px;
  background-color: white;
  border-top: solid 1px darkgrey;
  border-top: solid 1px darkgrey;
}
.daily_content_img{
  border-radius: 4px;
}


