<span class="shield_user_title">屏蔽用户设置</span>
<div class="shield_user">
  <div class="single_user">
    <div class="user_icon">
      <img src="../../../assets/images/user_icon008.jpg"/>
    </div>
    <div class="userId_cancel">
      <a href="">胡江</a>
      <button>取消屏蔽</button>
    </div>
  </div>
  <div class="single_user">
    <div class="user_icon">
      <img src="../../../assets/images/user_icon009.jpg"/>
    </div>
    <div class="userId_cancel">
      <a href="">陈礼超</a>
      <button>取消屏蔽</button>
    </div>
  </div>
</div>
<span class="shield_community_title">屏蔽社团设置</span>
<div class="shield_community">
  <div class="single_community">
    <div class="community_icon">
      <img src="../../../assets/images/community_icon001.jpg"/>
    </div>
    <div class="communityId_cancel">
      <a href="">英雄联盟</a>
      <button>取消屏蔽</button>
    </div>
  </div>
  <div class="single_community">
    <div class="community_icon">
      <img src="../../../assets/images/community_icon002.jpg"/>
    </div>
    <div class="communityId_cancel">
      <a href="">麻将</a>
      <button>取消屏蔽</button>
    </div>
  </div>
</div>
<div class="preserve">保存</div>
