<div *ngIf="noAns">
  <p class="noMore">
    ...........没有提问............
  </p>
</div>

<div *ngIf="isAns">
  <div *ngFor="let _qus of userValue" >
    <div class="comment prob-module" >
      <p class="til" (click)="toqus()" class="pro-content">
        <!--<a [routerLink]="['/problem-detail']" routerLinkActive="active" >-->
          {{_qus.question.title}}
        <!--</a>-->
      </p>
      <span class="pro-time">时间：{{_qus.question.time}}</span>
      <span class="pro-ans">回答数：{{_qus.question.ansNum}}</span>
    </div>
  </div>
</div>

